@media (max-width: 600px) {
    .navbar-mid a {
      display: none;
    }
    .navbar button {
      display: none;
    }
    .navbar i {
      display: block;
    }
    .logo {
      font-size: 5vw;
    }
  }